:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

html,
body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
  display: grid;
}

header {
  position: absolute;
  right: 4px;
  bottom: 4px;
  z-index: 999;
}

main {
  overflow: auto;
}

.cm-editor {
  height: 100%;
}
